{% extends "base.html" %}



{% block content %}
<script src="static/search.js"></script>
    <form action="" method="post">
        <p>
            {{ form.characterName.label }}
            {{ form.characterName(size=30) }}<br>

            {% for item in form.characterClass %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ item.label }}</td>
            </tr>
            {% endfor %} <br>

            {{ form.createCharacter() }}
        </p>
    </form>

    <br><br>

    <p>
        Search character: <input id="searchChar">
        <button id="searchCharBtn">Search</button>
        
    </p>

{% endblock %}
          


